data/clinical_trials.parquet
data/.cache
utils/__pycache__/
.claude/settings.local.json
.env
.ipynb_checkpoints/
*.py[cod]
.DS_Store
Thumbs.db
data/03_eligibility_parsed.parquet
data/04_eligibility_parsed_llm.parquet
data/05_clinical_trials_normalized.parquet
data/04_eligibility_parsed_llm.xlsx
data/05_eligibility_normalized.parquet
